<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-12 col-xl-6 chat">
      <h3 class="text-center mt-5">Sign Up</h3>
      <div class="form-container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

          <div class="form-group control-container">
            <input type="text" formControlName="name" class="form-control mx-auto" placeholder="Enter name" />
            <div *ngIf="isSubmitted && signupForm.invalid" class="error mx-auto">
              <span
                *ngIf="controls.name.invalid && controls.name.errors.required">{{CONSTANTS.FORM_ERRORS.REQUIRED.NAME}}</span>
            </div>
          </div>

          <div class="form-group control-container">
            <input type="email" formControlName="email" class="form-control mx-auto" placeholder="Enter email" />
            <div *ngIf="isSubmitted && signupForm.invalid" class="error mx-auto">
              <span
                *ngIf="controls.email.invalid && controls.email.errors.required">{{CONSTANTS.FORM_ERRORS.REQUIRED.EMAIL}}</span>
              <span
                *ngIf="controls.email.invalid && controls.email.errors.email">{{CONSTANTS.FORM_ERRORS.INVALID.EMAIL}}</span>
            </div>
          </div>

          <div class="form-group control-container">
            <input type="text" formControlName="phoneNumber" class="form-control mx-auto" placeholder="Phone number" />
            <div *ngIf="isSubmitted && signupForm.invalid" class="error mx-auto">
              <span
                *ngIf="controls.phoneNumber.invalid && controls.phoneNumber.errors.required">{{CONSTANTS.FORM_ERRORS.REQUIRED.PHONENUMBER}}</span>
            </div>
          </div>

          <div class="form-group control-container">
            <input type="password" formControlName="password" class="form-control mx-auto" placeholder="Password" />
            <div *ngIf="isSubmitted && signupForm.invalid" class="error mx-auto">
              <span
                *ngIf="controls.password.invalid && controls.password.errors.required">{{CONSTANTS.FORM_ERRORS.REQUIRED.PASSWORD}}</span>
            </div>
          </div>

          <div class="form-group">
            <div>Alreay regitered?
              <a [routerLink]="['/login']" class="link">login
                here</a>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>