<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-12 col-xl-6 chat">
      <h3 class="text-center mt-5">Forgot Password</h3>
      <div class="form-container">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

          <div class="form-group control-container">
            <input type="email" formControlName="email" class="form-control mx-auto" placeholder="Enter email" />
            <div *ngIf="isSubmitted && forgotForm.invalid" class="error mx-auto">
              <span
                *ngIf="controls.email.invalid && controls.email.errors.required">{{CONSTANTS.FORM_ERRORS.REQUIRED.EMAIL}}</span>
              <span
                *ngIf="controls.email.invalid && controls.email.errors.email">{{CONSTANTS.FORM_ERRORS.INVALID.EMAIL}}</span>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>